extends layout

block extraheader
	//Custom styles for this page
	link(rel='stylesheet', href='/stylesheets/bio.css')

block content
	h1= title
	div(class="container bio-content")
		div(class="col-md-6 picture")
				img(src="/images/cam.jpg", class="img-responsive center-block", alt="What a nerd.")

		div(class="col-md-6 bio-text")
			h3 Im super PHAT. This is the short bio for nerds that wanna know. It goes on like this for ages and is a super boring read and I would recomend killing yourself to save you from the agony of reading this whole thing. This is also a really bad photo of cam and this is why i PICKED IT. This is also the worst photo I could find. Also I didnt see mira all day but as soon as I got a can of cat food out she as like hello, what are you doing. UHhh nothing. Then I feed the puperlicsious. Im also waiting for stu to send through the contract for the 6th. It depends on looks at her phone.
  
