extends layout

block extraheader
	//Custom styles for this page
	link(rel='stylesheet', href='/stylesheets/bio.css')

block content
	h1 Biography
	div(class="container bio-content")
		div(class="col-md-6 picture")
				img(src="/images/bio/Long_Bio_Pic_Square.jpg", class="img-responsive center-block")

		div(class="col-md-6 bio-text")
			//All asterix's are supposed to be hyperlinks to the relevant music.
			h2 I was fascinated at how much the music and sound influenced my opinion of video games and film.

			p My name is Cameron Steele. I am a freelance composer and sound designer. I have been interested in music for many years and have completed a Bachelor of Music (Composition). I have studied voice and bass guitar and continue to study guitar, piano and orchestration. Digital art has always been an important part of my life and at a very young age I found myself interested in the music as much as the visuals. 

			p I began making remixing tracks of existing video games such as Donkey Kong, Tales of Symphonia, Legends of Zelda and Golden Sun which led to an interest in composing my own music. I enjoy creating music that enhances the emotional response to storytelling. I usually take inspiration from scenery and a sense of place.

			p I write music every day and my works has been included most recently on a re-mix album called BadAss 3. I also have experience film-scoring for short films.
			
			p Most of all I enjoy writing Melodic and Thematic music but have experience in a number of styles including but not limited to, Metal, Dubstep, Celtic, Orchestral and Horror. I pride myself on my versatility, ensuring the project is accurately represented.
			
			p When it comes to projects I always try to be as creative and as flexible as possible. I always make a point of listening to what creators have to say. I am always open and looking for feedback both positive and constructive.