extends layout

block extraheader
	//Custom styles for this page
	link(rel='stylesheet', href='/stylesheets/contact.css')


block content
	title=title
	h1 Contact Me
	div(class="container")
		div(class="row")
			div(class="col-md-12" id="fullname")
				h3(class="hr-sect") Cameron Steele


				div(class="col-md-12 text-left")
				h3
					span Email: 
						a(href="mailto:enquiries@steele-music.com?Subject=enquiry") enquiries@steele-music.com
				h3 Location: Melbourne, Australia





			//- div(class="col-md-6 text-left")
			//- 	h3
			//- 		span Email: 
			//- 			a(href="mailto:enquiries@steele-music.com?Subject=enquiry") enquiries@steele-music.com
			//- 	h3 Location: Melbourne, Australia

			//- div(class="col-md-6")
			//- 	form(id="contact", action="/contact", method="post")
			//- 		fieldset
			//- 			input(placeholder="Your name", type="text", tabindex="1", required, autofocus, name="message[name]")
			//- 		fieldset
			//- 			input(placeholder="Your Email Address", type="email" tabindex="2", required, name="message[emailaddress]")
			//- 		fieldset
			//- 			input(placeholder="Subject", type="text" tabindex="3", required, name="message[subject]")
			//- 		fieldset
			//- 			textarea(placeholder="Type your Message here....", type="text", tabindex="4", required, name="message[content]")
			//- 		fieldset
			//- 			button(name="Submit", type="submit", id="contact-submit", tabindex="5", data-submit="...Sending") Submit
			//- 