extends layout

block extraheader
	//Custom styles for this page
	link(rel='stylesheet', href='/stylesheets/index.css')
	link(rel="stylesheet", href='/stylesheets/music-player.css')
	

block scripts
	script(type="text/javascript").
		$(document).ready(function(){

			
		});
    

block content
	div(class="container")
		div(class="row", id="content")
			div(class="col-md-6 col-xs-12 parent" id="overwatch")
				div(class="col-md-6" id="genji")
					h1 Overwatch Genji Original
					a(href="/music#genji")
						img(src="/images/index/Genji_portrait_half_box.jpg", class="img-responsive center-block", alt="Genji Original")
						
				div(class="col-md-6" id="widomaker")
					h1 Overwatch Widomaker Original
					a(href="/music#widowmaker")
						img(src="/images/index/Widowmaker-half-box.jpg", class="img-responsive center-block", alt="Widomaker Original")

			div(class="col-md-6 col-xs-12 parent" id="portfolio")
				h1 Portfolio Piece Title
				a(href="/music#portfolio")
					img(src="/images/index/Steele-Music-Logo-square.jpg", class="img-responsive center-block", alt="Steele-logo")

			div(class="clearfix")
				//force to next row

			div(class="col-md-6 col-xs-12 parent", id="void")
				h1 League of Legends Void Original
				a(href="/music#void")
					img(src="/images/index/RekSai-League-of-Legends-box.jpg", class="img-responsive center-block", alt="RekSai League of Legends")
			
			div(class="col-md-6 col-xs-12 parent", id="badass3")
				h1 BADASS 3 Album Tracks
				a(href="/music#badass3")
					img(src="/images/index/Badass-3.jpg", class="img-responsive center-block", alt="Badass-3 album cover")

			div(class="clearfix")
				//force to next row

			div(class="col-md-6 col-xs-12 parent", id="cam")
				h1 PICTURE OF ME
				a(href="/bio")
					img(src="/images/index/Short-Bio-Pic.jpg", class="img-responsive center-block", alt="What a nerd.")
				h3 My name is Cameron Steele. I am a freelance composer and sound designer who lives in Melbourne, Australia. I have a Bachelor's Degree in Musical Composition and I write music for games and films.

			div(class="col-md-6 col-xs-12 parent text-left", id="jplayer")

			div(class="clearfix")
				//force to next row