extends layout

block extraheader
	//Custom styles for this page
	link(rel='stylesheet', href='/stylesheets/index.css')
	link(rel="stylesheet", href='/stylesheets/music-player.css')
	

block scripts
	script(src="/javascripts/jquery.jplayer.js")
	script(src="/javascripts/ttw-music-player-min.js")
	script(src="/javascripts/myplaylist.js")
	script(type="text/javascript").
		$(document).ready(function(){
			var description = 'This is a discription of the music player or any additional info you want to add here. ';

			$('#jplayer').ttwMusicPlayer(myPlaylist, {
				autoPlay:false,
				buyText: 'BUY', 
				currencySymbol: '$',
				description:description,
				jPlayer:{
					swfPath:'/javascripts' //You need to override the default swf path any time the directory structure changes
				}
			});
		});
    

block content
	div(class="container")
		div(class="row")
			div(class="col-md-3" id="genji")
				h1 Overwatch Genji Original
				a(href="/music#genji")
					img(src="/images/Genji-Overwatch.jpg", class="img-responsive center-block", alt="Genji Original")
					
			div(class="col-md-3" id="widomaker")
				h1 Overwatch Widomaker Original
				a(href="/music#widowmaker")
					img(src="/images/Widowmaker-Overwatch.png", class="img-responsive center-block", alt="Widomaker Original")

			div(class="col-md-6" id="portfolio")
				h1 Portfolio Piece Title
				a(href="/music#portfolio")
					img(src="/images/steele-logo.jpg", class="img-responsive center-block", alt="Steele-logo")

			div(class="clearfix")
				//force to next row

			div(class="col-md-6", id="void")
				h1 League of Legends Void Original
				a(href="/music#void")
					img(src="/images/RekSai-League-of-Legends.jpg", class="img-responsive center-block", alt="RekSai League of Legends")
			
			div(class="col-md-6", id="badass3")
				h1 BADASS 3 Album Tracks
				a(href="/music#badass3")
					img(src="/images/Badass-3.jpg", class="img-responsive center-block", alt="Badass-3 album cover")

			div(class="clearfix")
				//force to next row

			div(class="col-md-6", id="cam")
				h1 PICTURE OF ME
				a(href="/bio")
					img(src="/images/cam.jpg", class="img-responsive center-block", alt="What a nerd.")
				h3 This is the short bio for nerds that wanna know. It goes on like this for ages and is a super boring read and I would recomend killing yourself to save you from the agony of reading this whole thing.

			div(class="col-md-6 text-left", id="jplayer")

			div(class="clearfix")
				//force to next row