doctype
html
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatiable", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		//The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
		meta(name="description", content="Information about Cameron Steele the Composer")
		meta(name="author", content="Duxbury Digital")
		link(rel="icon", href="/images/layout/icon.ico")

		title= title

		//Bootstrap Core CSS
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		//Bootstrap Theme
		link(rel='stylesheet', href='/stylesheets/bootstrap-theme.min.css')
		//IE10 viewport Hack
		link(rel='stylesheet', href='/stylesheets/ie10-viewport-bug-workaround.css')

		//Custom styles for this template
		link(rel='stylesheet', href='/stylesheets/layout-style.css')

		block extraheader
	body
		header
			nav(class="navbar navbar-default navbar-fixed-top navbar-inverse")
					div(class="container")
						div(class="col-sm-4" id="name")
							a(class="navbar-brand navbar-left", href="/") Cameron Steele - Composer 
								span(class="glyphicon glyphicon-music")

					
						div(class="navbar-header")
							button(type="button", class="navbar-toggle collapsed", data-toggle="collapse", data-target="#navbar", aria-expanded="false", aria-controls="navbar")
								span(class="sr-only") Toggle Navigation
								span(class="icon-bar")
								span(class="icon-bar")
								span(class="icon-bar")
							
						div(class="navbar-collapse collapse", id="navbar")
								div(class="col-sm-6")
									ul(class="nav navbar-nav menu")
										li
											a(href="/") HOME
										li
											a(href="/bio") BIO
										li
											a(href="/music") MUSIC
										li
											a(href="/contact") CONTACT

								div(class="col-sm-2 social-media")
									ul(class="nav navbar-nav navbar-right")
										li
											img(src="/images/layout/twitter.png", class="img-thumbnail", alt="Twitter", href="#", width="30", height="30")
										li
											img(src="/images/layout/facebook.png", class="img-thumbnail", alt="Facebook", href="#", width="30", height="30")
										li
											img(src="/images/layout/youtube.png", class="img-thumbnail", alt="Youtube", href="#", width="30", height="30")

							
		//this section has the id="wrapper"
		section#wrapper
			block content

		footer 
			div(class="container", id="footer")
				div(class="row")
					div(class="col-sm-7 col-centered text-center")
						ul(class="list-inline social-media")
										li
											img(src="/images/layout/twitter.png", class="img-thumbnail", alt="Twitter", href="#", width="30", height="30")
										li
											img(src="/images/layout/facebook.png", class="img-thumbnail", alt="Facebook", href="#", width="30", height="30")
										li
											img(src="/images/layout/youtube.png", class="img-thumbnail", alt="Youtube", href="#", width="30", height="30")
				div(class="row")
					div(class="col-sm-5 col-centered text-center")
						p
							span © 2017 Cameron Steele. Site by 
							a(href="") Duxbury Digital

	//scripts added at the end to improve load times				
	script(src="/javascripts/jquery-3.2.0.min.js")
	script(src="/javascripts/bootstrap.min.js")
	block scripts