extends layout

block extraheader
	//Custom styles for this page

block content
	title=title
	h1 Message Sent
	div(class="container")
		div(class="row")
			div(class="col-md-12 text-left")
			h3 Your message has been sent.


