#contact fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}
#contact input {
  width: 100%;
  padding: 5px;
  box-shadow: 2px 2px #8e9d9d;
}
#contact textarea {
  height: 100px;
  width: 100%;
  padding: 5px;
  box-shadow: 2px 2px #8e9d9d;
}
#contact button {
  width: 50%;
  background-color: #337ab7;
  border-color: #337ab7;
  font-weight: 900;
  letter-spacing: 1px;
  text-shadow: 2px 2px #3a3a3a;
  box-shadow: 0.5px 0.3px #8e9d9d;
}
#fullname {
  padding: 15px;
}
.text-left {
  padding-left: 40px;
}
.hr-sect {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  margin: 8px 0px;
}
.hr-sect::before,
.hr-sect::after {
  content: "";
  flex-grow: 1;
  background: #9d9d9d;
  height: 2px;
  font-size: 0px;
  line-height: 0px;
  margin: 0px 8px;
}
