body
	background: #444 url(../images/layout/bg.jpg) repeat 0 0 scroll
	color: #9d9d9d 

#name
	
#navbar
	font-weight:600
	.menu
		letter-spacing:3.5px
		font-weight:700

	.social-media
		padding:10px
		li
			margin: 0 5px 0 5px 
	
	

#wrapper
	float: none
	margin: 0 auto
	margin-top: 28px
	width: 100%
	text-align: center
	
	.container
		//background-image: linear-gradient(to top,rgba(60,60,60,0.5) ,rgba(34, 34, 34, 0.2) 100%)
		background-color: hsla(0, 0%, 12%, 0.3)
		border-width: 2px
		border-style: solid
		border-bottom-style: none
		border-color: hsla(0, 0%, 24%, 0.3)
		border-radius: 7px
		


			
#footer
	background-color: hsla(0, 0%, 12%, 0.3)
	border-width: 2px
	border-style: solid
	border-top-style: none
	border-color: hsla(0, 0%, 24%, 0.3)
	border-radius: 7px
	border-top-left-radius: 0px
	border-top-right-radius: 0px
	padding: 20px

	.col-centered
		float: none
		margin: 0 auto
		width: 100%

	.social-media
		list-style-type: none
		width: 100%
