body {
  background: #444 url("../images/bg.jpg") repeat 0 0 scroll;
  color: #9d9d9d;
}
#name,
#navbar {
  font-weight: 600;
}
#name .menu,
#navbar .menu {
  letter-spacing: 3.5px;
  font-weight: 700;
}
#name .social-media,
#navbar .social-media {
  padding: 10px;
}
#name .social-media li,
#navbar .social-media li {
  margin: 0 5px 0 5px;
}
#wrapper {
  float: none;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}
#wrapper .container {
  background-color: rgba(31,31,31,0.3);
  border-width: 2px;
  border-style: solid;
  border-bottom-style: none;
  border-color: rgba(61,61,61,0.3);
  border-radius: 7px;
}
#footer {
  background-color: rgba(31,31,31,0.3);
  border-width: 2px;
  border-style: solid;
  border-top-style: none;
  border-color: rgba(61,61,61,0.3);
  border-radius: 7px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  padding: 20px;
}
#footer .col-centered {
  float: none;
  margin: 0 auto;
  width: 100%;
}
#footer .social-media {
  list-style-type: none;
  width: 100%;
}
