.parent
	h3
		font-family: KennedySC GD Book
		font-weight: 600
	p
		text-align: left
		

.container.row
	padding: 10px
	box-shadow: 0px 0px 2px 1px rgba(62, 62, 62, 0.25)
	margin: 0px 0px 0px 100px
	
#componentWrapper
	
	.componentPlaylist
		//170px is 5 items
		max-height:200px
		overflow: hidden

#componentWrapper2 
	.componentPlaylist
		max-height:200px
		overflow: hidden
		
#componentWrapper3 
	.componentPlaylist
		max-height:200px
		overflow: hidden
		