body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #f00;
}
#wrapper {
  float: none;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}
#footer .col-centered {
  float: none;
  margin: 0 auto;
  width: 100%;
}
#footer .social-media {
  list-style-type: none;
  width: 100%;
}
